body {
    display: flex;
    flex-direction: column;
}

.smallCards {
    display: flex;
    flex-direction: row;
}



.bigCard {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 250, 205);
}

.scrollCard {
    background-color: lightgreen;
}