body {
    display: flex;
    flex-direction: column;
}

.testimonial, .name, .title {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: large;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.smallCards {
    display: flex;
    flex-direction: row;
    margin: 10px 25px;
}

#verticalCard .testimonial {
    margin: 10px;
    border: solid black;
    border-radius: 20px;
    padding: 0 15px;
    background-color: black;
    color: white;
}

#horizontalCard {
    border: solid black;
    border-width: 3px;
    border-radius: 25px;
    padding: 10px;
}

#verticalCard .triangle{ 
    position: absolute;
    top: 180px;
    left: 70px;
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 25px solid #000000;
    padding: 0; 
}

#horizontalCard .testimonial {
    margin: 10px;
    padding: 0 15px;
}

#verticalCard .profile, 
#horizontalCard .profile {
    float: left;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 15px;
}

#verticalCard img, 
#horizontalCard img {
    object-position: -87px -65px;
}

#verticalCard .name, 
#horizontalCard .name {
    position: fixed;
    margin-left: 130px;
}

#verticalCard .title, 
#horizontalCard .title {
    position: fixed;
    margin-top: 30px;
    margin-left: 130px;
}

.bigCard {
    display: flex;
    flex-direction: row;
    margin: 10px 25px;
    background-color: rgb(255, 250, 205);
}

.scrollCard {
    margin: 10px 25px;
    background-color: lightgreen;
}