body {
    display: flex;
    flex-direction: column;
}

.testimonial, .name, .title {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: large;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.smallCards {
    display: flex;
    flex-direction: row;
    margin: 10px 25px;
}

#verticalCard .testimonial {
    margin: 10px;
    border: solid black;
    border-radius: 20px;
    padding: 0 15px;
    background-color: black;
    color: white;
}

#horizontalCard {
    border: solid black;
    border-width: 3px;
    border-radius: 25px;
    padding: 10px;
}

#verticalCard .triangle{ 
    position: absolute;
    top: 180px;
    left: 70px;
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 25px solid #000000;
    padding: 0; 
}

#horizontalCard .testimonial {
    margin: 10px;
    padding: 0 15px;
}

#verticalCard .profile, 
#horizontalCard .profile {
    float: left;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 15px;
}

#verticalCard img, 
#horizontalCard img {
    object-position: -87px -65px;
}

#verticalCard .name, 
#horizontalCard .name {
    position: fixed;
    margin-left: 130px;
}

#verticalCard .title, 
#horizontalCard .title {
    position: fixed;
    margin-top: 30px;
    margin-left: 130px;
}

.bigCard {
    display: flex;
    flex-direction: row;
    margin: 10px 25px;
}

.bigCard .profile {
    overflow: hidden;
    width: 800px;
    height: 300px;
    margin-right: 20px;
    border-radius: 15px;
}

.bigCard img {
    float: left;
    object-position: -210px -140px;
}

.bigCard #content {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: black;
    padding: 0 30px;
    color: white;
}

.checked {
  color: rgb(255, 187, 0);
  font-size: 25px;
  padding-top: 40px;
}

.bigCard #content h3 {
    margin: 0;
    padding-top: 10px;
    font-size: 32px;
}

.bigCard #content h5 {
    margin: 0;
    padding-top: 10px;
    font-size: 20px;
    color: grey;
}

.scrollCard {
    margin: 10px 25px;
    border: solid black;
    border-radius: 15px;
    font-weight: 3px;
    text-align: center;
}

.scrollCard .testimonial {
    margin: 25px 80px;
}

.scrollCard #scroll {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
}

.scrollCard #scroll .profile,
.scrollCard #scroll .profile-left,
.scrollCard #scroll .profile-right {
    overflow: hidden;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 10px;
}

.scrollCard #scroll .profile-left,
.scrollCard #scroll .profile-right {
    opacity: 20%;
}

.scrollCard #scroll img {
    object-position: -65px -45px;
}

.scrollCard .name {
    margin-bottom: 50px;
}